In [1]:
 # 01 Discuss string slicing and provide example.

#extracts substrings by specifying a range of indices using the syntax string[start:stop:step].
#It allows you to access or manipulate parts of the string efficiently.
#We can define start, stop, and step values, and it supports reversing the string or selecting characters at intervals.

In [2]:
string_1 = "My name is aagman."
# iterate a string in reverse order [::-1]
string_1[::-1]

'.namgaa si eman yM'

In [3]:
string_1[:8] # '8' will be exclusive it will not be included

'My name '

In [4]:
# 02 Explain the key features of list in python.

## list are ordered collection of items
# it is denoted by square bracket -->> []
# list is like shopping bag 
# it can store any data type
# list are mutable

In [6]:
grocery_list =  ["milk","orange",1,2,True,3+5j]
grocery_list

['milk', 'orange', 1, 2, True, (3+5j)]

In [7]:
lis = ["mango","banana","apple","orange"]
#lis.insert(index, object, /)
lis.insert(1,"kiwi")
# Insert object before index.

In [8]:
lis

['mango', 'kiwi', 'banana', 'apple', 'orange']

In [9]:
# extend -->> used to append elements from another list
my_list = ["apple","banana","mango"]
bro_list = ["potato","ginger"]
my_list.extend(bro_list)

In [16]:
#my list got extended but bro list remains same.
print(my_list)
print(bro_list)

['apple', 'banana', 'mango', 'potato', 'ginger']
['potato', 'ginger']

In [11]:
# list comprehension --> it is used to write concise code(less line of code)
# if we want to double the price of prices then we can do it in 2 ways.
# 1st way(method)
prices = [10,20,30.,40]
doubled_price = []
for i in prices:
    doubled_price.append(i*2)

In [12]:
doubled_price

[20, 40, 60.0, 80]

In [15]:
# second way using list comprehension
doubled_price = [price * 2 for price in prices]
doubled_price

[20, 40, 60.0, 80]

In [18]:
# 03 Describe how to modify, access and delete element in a list with example.

#Accessing the elements of list
lis = ["Aagman","abc",1,2,3,4]
lis[0] # accessing the element having zero index

'Aagman'

In [19]:
# modifying the elements in list
lis[0] = "Akshat"
lis

['Akshat', 'abc', 1, 2, 3, 4]

In [20]:
# deleting the element in a list
del lis[3]
lis

['Akshat', 'abc', 1, 3, 4]

In [23]:
# or using remove method
lis.remove(4)
lis

['Akshat', 'abc', 1]

In [24]:
# 04 Compare and contrast tuples and list with example.

# Syntax: Tuples (), Lists []
# Mutability: Tuples are immutable, Lists are mutable
# Use Case: Tuples for fixed data, Lists for frequently updated data
# Performance: Tuples are faster; Lists are slower
# Methods: Tuples have limited methods; Lists have many
# Memory: Tuples use less memory; Lists use more

In [25]:
t = ()
type(t)

tuple

In [26]:
lis = []
type(lis)

list

In [27]:
t = ("Aagman","abc",2,3,4.5,True,3+5j)
# Tuples are immutable 
t[0] = "aa"

TypeError: 'tuple' object does not support item assignment

In [28]:
t

('Aagman', 'abc', 2, 3, 4.5, True, (3+5j))

In [29]:
# 05 Describe the key feature of set and provide examples of there use.

# sets are unordered and unique collection of elements.
# it dosnt allow duplicate elements.
# unordered ---> indexing will not work.
# it is denoted by ---> {} (if it doesnot contain key value pairs.)

In [30]:
s = {}
print(type(s))
s = {1}
print(type(s))

<class 'dict'>
<class 'set'>

In [31]:
# convert list to set.
shopping_list = [1,2,3,2,"apple","apple","banana","mango","mango"]
s = set(shopping_list)
s

{1, 2, 3, 'apple', 'banana', 'mango'}

In [32]:
# we can not do slicing in SET
# but we can run loop in SET 
for i in s:
    print(i)

1
apple
2
3
mango
banana

In [33]:
# set is mutable 
s.add("AA")
s

{1, 2, 3, 'AA', 'apple', 'banana', 'mango'}

In [34]:
# FROZEN sets  ---> immutable version of set
# we can not add or remove elements from the frozen set

In [35]:
#frozenset([])
my_fs = frozenset([1,1,22,3,3,4,4,4,4,5,5])
my_fs

frozenset({1, 3, 4, 5, 22})

In [36]:
my_fs.pop() # it will show an error

AttributeError: 'frozenset' object has no attribute 'pop'

In [37]:
# 06 Discuss the use cases of tuples and set in python programming.

In [38]:
#use case of tuple--> use tuples where you dont want top modify the data
empid =(1,2,3,4,5)
empid[1] = 100

TypeError: 'tuple' object does not support item assignment

In [39]:
# use case of sets

In [40]:
# 01 Removing Duplicates values
s = {1,1,1,1,1,1,1,2,2,2,3,4,4,45,5,56,6,6,6,}
s

{1, 2, 3, 4, 5, 6, 45, 56}

In [41]:
# 02 Membership Testing --> to check wheather the element is present or not
1 in s

True

In [42]:
2 not in s

False

In [43]:
# 03 Set Operations (Union, Intersection, Difference, Symmetric Difference)
# union 
s1 = {1,2,3,4}
s2 = {2,2,3,5,6}
s1 | s2

{1, 2, 3, 4, 5, 6}

In [45]:
# intersection
s1 & s2 # return common elements

{2, 3}

In [47]:
# difference 
s1 - s2 # element present in first set but not in the second set

{1, 4}

In [48]:
# symmetric difference
s1 ^ s2 #returns all the elements other than common elements

{1, 4, 5, 6}

In [49]:
# 07 Describe how to modify, access and delete element in a dictionary with example.

# dictionary is a data structure that stores data as key value pairs.
# keys are unique and immutable.

In [52]:
d = {"name" : "aagman","email" : "at@gmail.com","contact":"1234"}
d

{'name': 'aagman', 'email': 'at@gmail.com', 'contact': '1234'}

In [54]:
# Accessing the elements of dictionary
d[2]
# we can only access value using key, vice-versa is not  possible

KeyError: 2

In [55]:
d["name"]

'aagman'

In [56]:
# modify
d["name"] = "Akshat"
d

{'name': 'Akshat', 'email': 'at@gmail.com', 'contact': '1234'}

In [57]:
# deleting the element
del d["contact"]
d

{'name': 'Akshat', 'email': 'at@gmail.com'}

In [60]:
# 08 Discuss the importance of dictionary keys being immutable and provide example.

#Dictionary keys must be immutable (e.g., strings, numbers, tuples), because Python uses hash tables for quick lookups.
#Mutable keys (e.g., lists) can change, causing their hash value to change, which breaks data integrity and access efficiency.
#Immutable keys ensure reliable and efficient dictionary operations.

In [61]:
# Valid immutable keys
my_dict = {
    'name': 'Alice',
    42: 'Age',
    (1, 2): 'Coordinates'
}

# Invalid mutable keys (uncommenting will raise a TypeError)
# my_dict = {[1, 2, 3]: 'List Key'}   # Lists are mutable and cannot be used as keys
# my_dict = {{'a': 1}: 'Dict Key'}    # Dictionaries are mutable and cannot be used as keys

# Accessing a value using an immutable key
print(my_dict['name'])  # Output: Alice

Alice